body {
  margin: 0;
  background-color: #fff;
}

header {
  font-family: "Helvetica-light";
  font-weight: 100;
}

.app {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}

@font-face {
  font-family: "Helvetica-light";
  src: url("./assets/Helvetica-Light.otf");
}