body {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-sizing: border-box;
}

.app {
  width: 100%;
  position: relative;
}

header {
  font-family: "Helvetica-light";
  font-weight: 100;
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 740px;
  width: 100%;
  top: 0;
}

section {
  font-family: Helvetica, sans-serif;
}

footer {
  font-family: Helvetica, sans-serif;
  border-top: 2px solid #ebebeb;
  z-index: 1;
  bottom: 0;
  background-color: #fff;
  max-width: 740px;
  width: 100%;
  padding: 24px 0px;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  font-family: Helvetica, sans-serif;
}

.row-pad {
  @media screen and (max-width: 768px) {
    padding: 110px;
  }
  @media screen and (min-width: 769px) {
    padding: 130px;
  }
  @media screen and (max-width: 350px) {
    padding: 100px;
  }
}

.active {
  background-color: #b8b4fc !important;
}

@font-face {
  font-family: "Helvetica-light";
  src: url("./assets/Helvetica-Light.otf");
}
