body {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-sizing: border-box;
}

.app {
  width: 100%;
}

header {
  font-family: "Helvetica-light";
  font-weight: 100;
}

section {
  font-family: Helvetica, sans-serif;
}

footer {
  font-family: Helvetica, sans-serif;
  border-top: 2px solid #ebebeb;
  z-index: 1;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  padding: 20px 0px;
}

.row {
  display: flex;
  font-family: Helvetica, sans-serif;
}

@font-face {
  font-family: "Helvetica-light";
  src: url("./assets/Helvetica-Light.otf");
}